body
{
	margin: 0;
	padding: 0;
	background-color: black;
}

#bg
{
	background: url(/images/title.jpg),url(/images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
}


